:root{
    --default-font: small-caps 24px/24px 'Roboto Mono', monospace ;
}

body{
    display: flex;
    justify-content: end;
    background: rebeccapurple url('./pixelCity.jpeg') no-repeat left top;
    background-size: 100%;
    background-attachment: fixed;
    padding:0;
    margin: 0;
    color: azure;
    font: var(--default-font);
}
.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 42vw;
    /*box-shadow: 15px 0 5px rgb(51, 23, 78) inset ;*/
    box-shadow: 0 0 15px 15px rgba(51, 23, 78, 0.795);
    border-left: 3px solid rgba(51, 23, 78, 0.795);

}
.container div{
    background-color: black;
}
.header{
    font: small-caps 48px/35px 'Roboto Mono', monospace ;;
    text-align: center;
    margin: 70px 15px 60px 15px;
}
.disclaimer{
    font-style: italic;
    text-align: center;
    margin: 5px 40px;
}
.intro{
    margin: 5px 30px 35px 30px;
}
.form-container{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(51, 23, 78, 0.795), rgb(224, 122, 245)) 1;
    border-left:0;
}
.regForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px;
}
.inputGroup input{
    height: 35px;
    width: 175px;
    font-size: 85%;
    margin: 4px 2px;
    border: 4px solid rgb(224, 122, 245);
    border-radius: 10px;
}
.inputGroup input:valid{
    border: 4px solid rebeccapurple;
}
.pwRules{
    font-size: 20px;
}
#submitButton{
    font: var(--default-font);
    background-color: rgba(51, 23, 78);
    color: azure;
    border: 4px solid rebeccapurple;
    border-radius: 20px;
    padding: 15px 20px;
}
.logInContainer{
    text-align: center;
}
.logInContainer a:link{
    color: rgb(224, 122, 245);
}
.logInContainer a:hover{
    color: rebeccapurple;
}
.logInContainer a:visited{
    color: rgba(51, 23, 78);
}