* {
    background-color: rebeccapurple;
}
body{
    display: flex;
    justify-content: end;
    background: rebeccapurple url('./pixelCity.jpeg') no-repeat right top;
    background-size: cover;
    padding:0;
    margin: 0;
}
.container{
    background-color: dimgrey;
    width: 60vw;
    height: 100vh;
}